<style>
.padding-top {
padding-top:30px!important;
}
h4 {
margin-top:0;
}
p {
font-size:12px;
}
</style>

<h1><i class="fa fa-black-tie"></i> Macro-Management Mod <i class="fa fa-times pull-right close-button" close-all-ui></i>
</h1>

<ul class="tab-list" style="display: inline-block; margin-bottom: 0;">
    <li ng-repeat="product in mmmodCtrl.getCompanyProducts()" role="tab" data-toggle="tab" ng-class="{ active: mmmodCtrl.tab == product.name }"
    ng-click="mmmodCtrl.tab = product.name">{{ product.name }}
    </li>

    <li role="tab" data-toggle="tab" ng-class="{ active: mmmodCtrl.tab == 'components' }"
        ng-click="mmmodCtrl.tab = 'components'">Components
    </li>

    <li role="tab" data-toggle="tab" ng-class="{ active: mmmodCtrl.tab == 'teams' }"
        ng-click="mmmodCtrl.tab = 'teams'">Teams
    </li>
</ul>

<div ng-repeat="product in mmmodCtrl.getCompanyProducts()" ng-If="mmmodCtrl.tab == product.name">

<div class="padding">
<div class="flex1" style="height: 490px;overflow-y:auto;">

    <i>If you assign teams to features, only the members of the assigned team will work on the components
    to improve that feature. If you don't assign teams, features will be improved by the managers <u>who
            are not in any team.</u></i>
    <br>
    <br>
<table>
<tr>
<td><b>Features</b></td>
<td><b>Level</b></td>
<td><b>Assign to Team</b></td>
    <td></td>
<td><b>Start/Stop</b></td>
</tr>
<tr ng-repeat="feature in mmmodCtrl.getFeaturesByProductName(mmmodCtrl.tab)">
    <td>{{ feature.featureName }}</td>
    <td>{{ feature.quality.current }}&nbsp;</td>
    <td><div dropdown-select="mmmodCtrl.teams"
             dropdown-model="mmmodCtrl.featureList[product.name][$index].assignedTeam"
             dropdown-onchange="mmmodCtrl.assignFeatureToTeam(product, feature, selected, $index)"
             dropdown-item-label="teamName"
             dropdown-disabled="mmmodCtrl.featureList[product.name][$index].maxProd" style="width: 95%">
    </div>
    </td>
    <td>
        <button class="small red"  uib-tooltip="Unassign from team" tooltip-append-to-body="true" ng-if="mmmodCtrl.featureList[product.name][$index].assignedTeam != null"
                ng-click="mmmodCtrl.clearAssignedFeatureFromTeamAndFeatureList(product, $index)"
                ng-disabled="mmmodCtrl.featureList[product.name][$index].maxProd"><i class="fa fa-ban"></i></button>&nbsp;
    </td>
    <td>
	<button class="small"  uib-tooltip="Start working" tooltip-append-to-body="true" ng-disabled="mmmodCtrl.isMaxProd($index) == true"
            ng-click="mmmodCtrl.maxFeature(product, feature, $index)"><i class="fa fa-plus"></i></button>&nbsp;
    <button class="small red"  uib-tooltip="Stop working" tooltip-append-to-body="true" ng-disabled="mmmodCtrl.isMaxProd($index) == false"
            ng-click="mmmodCtrl.minFeature(product, feature, $index)"><i class="fa fa-minus"></i></button>&nbsp;
    </td>
</tr>
<tr></tr>
</table>

</div>
</div>

</div>

<div ng-If="mmmodCtrl.tab == 'components'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">
            <i>Use this menu to override the production of individual components. Click (+)
            button to always produce the component, (-) button to never produce, (o)
                button to stop overriding. Production of the components will be assigned
                to the managers <u>who are not in any team.</u> </i>
            <br>
            <br>
            <table>
                <tr>
                    <td></td>
                    <td><b>Inventory</b></td>
                    <td><b>Researched</b></td>
                    <td><b>Start/Stop</b></td>
                </tr>
                <tr ng-repeat="component in mmmodCtrl.componentList('Component')">
                    <td><img uib-tooltip="{{ component.name }}" tooltip-append-to-body="true" ng-src="{{ component.icon }}"></td>
                    <td>{{ component.inventory }}</td>
                    <td>
                    </td>
                    <!--
                    <td>Volume here</td>
                    -->
                    <td>{{ component.working }}&nbsp;
                        <button class="small" ng-disabled="component.researched && mmmodCtrl.isMaxProdComponent(component.name) == 2" uib-tooltip="Always produce"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.maxProduction(component.name)"><i class="fa fa-plus"></i></button>&nbsp;
                        <button class="small blue" ng-disabled="component.researched && mmmodCtrl.isMaxProdComponent(component.name) == 1" uib-tooltip="No override"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.stopOverride(component.name)"><i class="fa fa-circle"></i></button>&nbsp;
                        <button class="small red" ng-disabled="component.researched && mmmodCtrl.isMaxProdComponent(component.name) == 0" uib-tooltip="Never produce"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.minProduction(component.name)"><i class="fa fa-minus"></i></button>&nbsp;
                    </td>
                </tr>
                <tr></tr>
            </table>

        </div>
    </div>

</div>

<div ng-If="mmmodCtrl.tab == 'teams'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">

            <table ng-if="mmmodCtrl.teams.length > 0">
                <tr>
                    <td><b>Team Name</b></td>
                    <td align="center"><b>Manager Count</b></td>
                    <td align="center"><b>Assigned Features</b></td>
                    <td><b>Status</b></td>
                    <td><b>Edit/Delete</b></td>
                </tr>
                <tr ng-repeat="team in mmmodCtrl.teams">
                    <td>{{ team.teamName }}</td>
                    <td align="center">{{ team.members.length }} &nbsp;</td>
                    <td align="center">{{ team.assignedFeatures.length }}</td>
                    <td ng-if="team.status == 0"> Idle&nbsp;</td>
                    <td ng-if="team.status != 0"> Working&nbsp;</td>
                    <td>
                        <button class="small" uib-tooltip="Edit team"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'edit_team'; mmmodCtrl.selectedTeam = team"><i class="fa fa-edit"></i></button>&nbsp;
                        <button class="small red" uib-tooltip="Delete team"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.removeTeam(team)"><i class="fa fa-trash"></i></button>&nbsp;
                    </td>
                </tr>
                <tr></tr>
            </table>

            <div ng-if="mmmodCtrl.teams.length == 0">
                You don't have any teams right now.
            </div>

            <div class="padding">

            </div>

            <button class="medium" uib-tooltip="Create a new team"
                    tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'create_team'">Create New Team
            </button>

        </div>
    </div>

</div>

<div ng-If="mmmodCtrl.tab == 'create_team'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">
            <i>Make sure to give a name to the team and select at least one manager.</i>
            <br>
            <br>
            <div style="float: right" >
                <button class="small red" uib-tooltip="Go back to teams"
                        tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'teams'">Back</button>&nbsp;
            </div>

            Team Name: <input type="text" maxlength="20" ng-model="mmmodCtrl.tempTeamName" size="2" style="width: 300px" >
            <br>
            <br>
            Number of Developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedManagers, "Developer") }}
            <br>
            Number of Lead Developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedManagers, "LeadDeveloper") }}
            <br>
            Number of Designers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedManagers, "Designer") }}
            <br>
            <br>
            <b>Available Managers:</b>
            <br>
            <br>
            <table>
                <tr>
                    <td><b>Manager Name</b></td>
                    <td><b>Number of Developers</b></td>
                    <td><b>Number of Lead Developers</b></td>
                    <td><b>Number of Designers</b></td>
                    <td><b>Assign</b></td>
                </tr>
                <tr ng-repeat="manager in mmmodCtrl.getAllManagers()" ng-if="mmmodCtrl.getManagerEmployeeCount(manager) > 0 && !mmmodCtrl.isManagerInATeam(manager)">
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.numOfDevs }}</td>
                    <td>{{ manager.numOfLeadDevs }}</td>
                    <td>{{ manager.numOfDesigners }}</td>
                    <td>
                        <div class="toggle-switch"
                             ng-class="{ active: mmmodCtrl.isManagerSelected(manager) }"
                             ng-click="mmmodCtrl.addOrRemoveSelectedManagers(manager)">
                            <span></span>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </table>

            <div class="padding">

            </div>

            <button class="medium" uib-tooltip="Create"
                    ng-disabled="((mmmodCtrl.tempTeamName.length < 1) || (mmmodCtrl.selectedManagers.length < 1))"
                    tooltip-append-to-body="true" ng-click="mmmodCtrl.addTeam()">Create
            </button>

        </div>
    </div>

</div>

<div ng-If="mmmodCtrl.tab == 'edit_team'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">
            <div style="float: right" >
                <button class="small red" uib-tooltip="Go back to teams"
                        tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'teams'">Back</button>&nbsp;
            </div>

            Team Name: <input type="text" maxlength="20" ng-model="mmmodCtrl.selectedTeam.teamName"
                              ng-change="mmmodCtrl.updateAssignedFeaturesWithEditedTeamName()" size="2" style="width: 300px" >
            <br>
            <br>
            Number of Developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedTeam.members, "Developer") }}
            <br>
            Number of Lead Developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedTeam.members, "LeadDeveloper") }}
            <br>
            Number of Designers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedTeam.members, "Designer") }}
            <br>
            <br>
            <b>Current Managers:</b>
            <br>
            <br>
            <table>
                <tr>
                    <td><b>Manager Name</b></td>
                    <td><b>Developers</b></td>
                    <td><b>Lead Developers</b></td>
                    <td><b>Designers</b></td>
                    <td><b>Assign</b></td>
                </tr>
                <tr ng-repeat="manager in mmmodCtrl.getManagersByTeam(mmmodCtrl.selectedTeam)">
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.numOfDevs }}</td>
                    <td>{{ manager.numOfLeadDevs }}</td>
                    <td>{{ manager.numOfDesigners }}</td>
                    <td>
                        <div class="toggle-switch"
                             ng-class="{ active: mmmodCtrl.isManagerInATeam(manager) }"
                             ng-click="mmmodCtrl.removeSelectedManagerFromTeam(manager, mmmodCtrl.selectedTeam)">
                            <span></span>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </table>
            <div ng-if="mmmodCtrl.selectedTeam.members.length == 0">
                <br>
                You haven't assigned any managers to your team!
            </div>
            <br>
            <br>
            <b>Available Managers:</b>
            <br>
            <br>
            <table>
                <tr>
                    <td><b>Manager Name</b></td>
                    <td><b>Developers</b></td>
                    <td><b>Lead Developers</b></td>
                    <td><b>Designers</b></td>
                    <td><b>Assign</b></td>
                </tr>
                <tr ng-repeat="manager in mmmodCtrl.getAllManagers()" ng-if="mmmodCtrl.getManagerEmployeeCount(manager) > 0 && !mmmodCtrl.isManagerInATeam(manager)">
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.numOfDevs }}</td>
                    <td>{{ manager.numOfLeadDevs }}</td>
                    <td>{{ manager.numOfDesigners }}</td>
                    <td>
                        <div class="toggle-switch"
                             ng-class="{ active: mmmodCtrl.isManagerSelected(manager) }"
                             ng-click="mmmodCtrl.addSelectedManagerToTeam(manager, mmmodCtrl.selectedTeam)">
                            <span></span>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </table>
        </div>
    </div>

</div>
