<style>
.padding-top {
padding-top:30px!important;
}
h4 {
margin-top:0;
}
p {
font-size:12px;
}
</style>

<h1><i class="fa fa-black-tie"></i> Macro-Management Mod <i class="fa fa-times pull-right close-button" close-all-ui></i>
</h1>

<ul class="tab-list" style="display: inline-block; margin-bottom: 0;">
    <li ng-repeat="product in mmmodCtrl.getCompanyProducts()" role="tab" data-toggle="tab" ng-class="{ active: mmmodCtrl.tab == product.name }"
    ng-click="mmmodCtrl.tab = product.name">{{ product.name }}
    </li>

    <li role="tab" data-toggle="tab" ng-class="{ active: mmmodCtrl.tab == 'components' }"
        ng-click="mmmodCtrl.tab = 'components'">Components
    </li>

    <li role="tab" data-toggle="tab" ng-class="{ active: mmmodCtrl.tab == 'teams' }"
        ng-click="mmmodCtrl.tab = 'teams'">Teams
    </li>
</ul>

<div ng-repeat="product in mmmodCtrl.getCompanyProducts()" ng-If="mmmodCtrl.tab == product.name">

<div class="padding">
<div class="flex1" style="height: 490px;overflow-y:auto;">

<table>
<tr>
<td><b>Features</b></td>
<td><b>Level</b></td>
<td><b>Assign to Team</b></td>
    <td></td>
<td><b>Start/Stop</b></td>
</tr>
<tr ng-repeat="feature in mmmodCtrl.getFeaturesByProductName(mmmodCtrl.tab)">
    <td>{{ feature.featureName }}</td>
    <td>{{ feature.quality.current }}&nbsp;</td>
    <td><div dropdown-select="mmmodCtrl.teams"
             dropdown-model="mmmodCtrl.featureList[product.name][$index].assignedTeam"
             dropdown-onchange="mmmodCtrl.assignFeatureToTeam(product, feature, selected, $index)"
             dropdown-item-label="teamName" style="width: 95%">
    </div>
    </td>
    <td>
        <button class="small red"  uib-tooltip="Unassign from team" tooltip-append-to-body="true" ng-if="mmmodCtrl.featureList[product.name][$index].assignedTeam != null"
                ng-click="mmmodCtrl.clearAssignedFeatureFromTeamAndFeatureList(product, $index)"><i class="fa fa-ban"></i></button>&nbsp;
    </td>
    <td>
	<button class="small"  uib-tooltip="Start working" tooltip-append-to-body="true" ng-if="mmmodCtrl.isMaxProd(feature) == false"
            ng-click="mmmodCtrl.maxFeature(product, feature, $index)"><i class="fa fa-plus"></i></button>&nbsp;
    <button class="small red"  uib-tooltip="Stop working" tooltip-append-to-body="true" ng-if="mmmodCtrl.isMaxProd(feature) == true"
            ng-click="mmmodCtrl.minFeature(feature)"><i class="fa fa-minus"></i></button>&nbsp;
    </td>
</tr>
<tr></tr>
</table>

</div>
</div>

</div>

<div ng-If="mmmodCtrl.tab == 'components'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">

            <table>
                <tr>
                    <td></td>
                    <td><b>Inventory</b></td>
                    <td><b>Researched</b></td>
                    <td><b>Start/Stop</b></td>
                </tr>
                <tr ng-repeat="component in mmmodCtrl.componentList('Component')">
                    <td><img uib-tooltip="{{ component.name }}" tooltip-append-to-body="true" ng-src="{{ component.icon }}"></td>
                    <td>{{ component.inventory }}</td>
                    <td>( {{ component.researched }} / {{ component.totalDevsPossible }} )&nbsp;
                        <button ng-If="component.researched < component.totalDevsPossible" class="small" uib-tooltip="Research"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.researchComponent(component.name);"><i class="fa fa-flask"></i></button>
                    </td>
                    <!--
                    <td>Volume here</td>
                    -->
                    <td>{{ component.working }}&nbsp;
                        <button class="small" ng-if="component.researched > component.working && mmmodCtrl.isMaxProdComponent(component.name) == false" uib-tooltip="Start working"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.maxProduction(component.name)"><i class="fa fa-plus"></i></button>&nbsp;
                        <button class="small red" ng-if="component.working <= component.researched && mmmodCtrl.isMaxProdComponent(component.name) == true" uib-tooltip="Stop working"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.minProduction(component.name)"><i class="fa fa-minus"></i></button>&nbsp;
                    </td>
                </tr>
                <tr></tr>
            </table>

        </div>
    </div>

</div>

<div ng-If="mmmodCtrl.tab == 'teams'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">

            <table ng-if="mmmodCtrl.teams.length > 0">
                <tr>
                    <td><b>Team Name</b></td>
                    <td><b>Manager Count</b></td>
                    <td><b>Status</b></td>
                    <td><b>Edit/Delete</b></td>
                </tr>
                <tr ng-repeat="team in mmmodCtrl.teams">
                    <td>{{ team.teamName }}</td>
                    <td>{{ team.members.length }} &nbsp;</td>
                    <td ng-if="team.status == 0"> Idle&nbsp;</td>
                    <td ng-if="team.status == 1"> Working&nbsp;</td>
                    <td>
                        <button class="small" uib-tooltip="Edit team"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'edit_team'; mmmodCtrl.selectedTeam = team"><i class="fa fa-edit"></i></button>&nbsp;
                        <button class="small red" uib-tooltip="Delete team"
                                tooltip-append-to-body="true" ng-click="mmmodCtrl.removeTeam(team)"><i class="fa fa-trash"></i></button>&nbsp;
                    </td>
                </tr>
                <tr></tr>
            </table>

            <div ng-if="mmmodCtrl.teams.length == 0">
                You don't have any teams right now.
            </div>

            <div class="padding">

            </div>

            <button class="medium" uib-tooltip="Create a new team"
                    tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'create_team'">Create New Team
            </button>

        </div>
    </div>

</div>

<div ng-If="mmmodCtrl.tab == 'create_team'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">
            <div style="float: right" >
                <button class="small red" uib-tooltip="Go back to teams"
                        tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'teams'">Back</button>&nbsp;
            </div>

            Team Name: <input type="text" maxlength="20" ng-model="mmmodCtrl.tempTeamName" size="2" style="width: 300px" >
            <br>
            <br>
            Number of developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedManagers, "Developer") }}
            <br>
            Number of lead developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedManagers, "LeadDeveloper") }}
            <br>
            Number of designers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedManagers, "Designer") }}
            <br>
            <br>
            <b>Available Managers:</b>
            <br>
            <br>
            <table>
                <tr>
                    <td><b>Manager Name</b></td>
                    <td><b>Developers</b></td>
                    <td><b>Lead Developers</b></td>
                    <td><b>Designers</b></td>
                    <td><b>Assign</b></td>
                </tr>
                <tr ng-repeat="manager in mmmodCtrl.getAllManagers()" ng-if="mmmodCtrl.getManagerEmployeeCount(manager) > 0 && !mmmodCtrl.isManagerInATeam(manager)">
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.numOfDevs }}</td>
                    <td>{{ manager.numOfLeadDevs }}</td>
                    <td>{{ manager.numOfDesigners }}</td>
                    <td>
                        <div class="toggle-switch"
                             ng-class="{ active: mmmodCtrl.isManagerSelected(manager) }"
                             ng-click="mmmodCtrl.addOrRemoveSelectedManagers(manager)">
                            <span></span>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </table>

            <div class="padding">

            </div>

            <button class="medium" uib-tooltip="Create"
                    tooltip-append-to-body="true" ng-click="mmmodCtrl.addTeam()">Create
            </button>

        </div>
    </div>

</div>

<div ng-If="mmmodCtrl.tab == 'edit_team'">

    <div class="padding">
        <div class="flex1" style="height: 490px;overflow-y:auto;">
            <div style="float: right" >
                <button class="small red" uib-tooltip="Go back to teams"
                        tooltip-append-to-body="true" ng-click="mmmodCtrl.tab = 'teams'">Back</button>&nbsp;
            </div>

            Team Name: <input type="text" maxlength="20" ng-model="mmmodCtrl.selectedTeam.teamName"
                              ng-change="mmmodCtrl.updateAssignedFeaturesWithEditedTeamName()" size="2" style="width: 300px" >
            <br>
            <br>
            Number of developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedTeam.members, "Developer") }}
            <br>
            Number of lead developers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedTeam.members, "LeadDeveloper") }}
            <br>
            Number of designers: {{ mmmodCtrl.getNumberOfEmployeesInTeamByType(mmmodCtrl.selectedTeam.members, "Designer") }}
            <br>
            <br>
            <b>Current Managers:</b>
            <br>
            <br>
            <table>
                <tr>
                    <td><b>Manager Name</b></td>
                    <td><b>Developers</b></td>
                    <td><b>Lead Developers</b></td>
                    <td><b>Designers</b></td>
                    <td><b>Assign</b></td>
                </tr>
                <tr ng-repeat="manager in mmmodCtrl.getManagersByTeam(mmmodCtrl.selectedTeam)">
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.numOfDevs }}</td>
                    <td>{{ manager.numOfLeadDevs }}</td>
                    <td>{{ manager.numOfDesigners }}</td>
                    <td>
                        <div class="toggle-switch"
                             ng-class="{ active: mmmodCtrl.isManagerInATeam(manager) }"
                             ng-click="mmmodCtrl.removeSelectedManagerFromTeam(manager, mmmodCtrl.selectedTeam)">
                            <span></span>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </table>
            <div ng-if="mmmodCtrl.selectedTeam.members.length == 0">
                <br>
                You haven't assigned any managers to your team!
            </div>
            <br>
            <br>
            <b>Available Managers:</b>
            <br>
            <br>
            <table>
                <tr>
                    <td><b>Manager Name</b></td>
                    <td><b>Developers</b></td>
                    <td><b>Lead Developers</b></td>
                    <td><b>Designers</b></td>
                    <td><b>Assign</b></td>
                </tr>
                <tr ng-repeat="manager in mmmodCtrl.getAllManagers()" ng-if="mmmodCtrl.getManagerEmployeeCount(manager) > 0 && !mmmodCtrl.isManagerInATeam(manager)">
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.numOfDevs }}</td>
                    <td>{{ manager.numOfLeadDevs }}</td>
                    <td>{{ manager.numOfDesigners }}</td>
                    <td>
                        <div class="toggle-switch"
                             ng-class="{ active: mmmodCtrl.isManagerSelected(manager) }"
                             ng-click="mmmodCtrl.addSelectedManagerToTeam(manager, mmmodCtrl.selectedTeam)">
                            <span></span>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </table>
        </div>
    </div>

</div>
